{% for p in profiles %}
  <div class="conn-row">
    {% if p.photo %}
      <img src="{{ p.photo.url }}" class="conn-avatar">
    {% else %}
      <div class="conn-avatar-init">
        {{ p.first_name|first|upper }}{{ p.last_name|first|upper }}
      </div>
    {% endif %}
    <div class="conn-meta">
      <div class="conn-name">{{ p.first_name }} {{ p.last_name }}</div>
      <div class="conn-sub">@{{ p.user.username }}</div>
    </div>
  </div>
{% empty %}
  <div class="conn-empty">Not following anyone yet.</div>
{% endfor %}{% load static %}

{% if following %}
    {% for conn in following %}
    <div class="conn-row">
        {% if conn.following.alumniprofile.photo %}
            <img src="{{ conn.following.alumniprofile.photo.url }}" class="conn-avatar" alt="">
        {% else %}
            <div class="conn-avatar-init">
                {{ conn.following.alumniprofile.first_name|first|upper }}{{ conn.following.alumniprofile.last_name|first|upper }}
            </div>
        {% endif %}

        <div style="flex:1;">
            <div class="conn-name">
                {{ conn.following.alumniprofile.first_name }} {{ conn.following.alumniprofile.last_name }}
            </div>
            <div class="conn-sub">
                @{{ conn.following.username }}
            </div>
        </div>

        <form method="POST" action="{% url 'toggle_follow' conn.following.id %}" style="margin:0;">
            {% csrf_token %}
            <button type="submit" class="conn-btn conn-btn-unfollow">
                Unfollow
            </button>
        </form>
    </div>
    {% endfor %}
{% else %}
    <div class="conn-empty">You are not following anyone yet.</div>
{% endif %}